Source: ti-omap3-sgx
Section: graphics
Priority: optional
Maintainer: Arthur Demchenkov <spinal.by@gmail.com>
Standards-Version: 4.3.0
Build-Depends:
 debhelper (>= 10),
 autotools-dev

Package: ti-omap3-sgx-r121
Section: libs
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ImgTec SGX drivers for TI OMAP3, SGX530 core 1.2.1

Package: ti-omap3-sgx-r125
Section: libs
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ImgTec SGX drivers for TI OMAP3, SGX530 core 1.2.5

Package: ti-omap3-sgx
Section: libs
Architecture: armhf
Depends: ${misc:Depends},
 ti-omap3-sgx-r121 | ti-omap3-sgx-r125
Recommends:
 ti-omap3-sgx-r121, ti-omap3-sgx-r125
Provides:
 libegl1,
 libgles1,
 libgles2,
 libegl1-mesa (= ${libegl1-mesa:Version}),
 libgles1-mesa,
 libgles2-mesa,
Conflicts:
 libegl1,
 libgles1,
 libgles2,
 libegl1-mesa,
 libgles1-mesa,
 libgles2-mesa,
 ti-omap3-sgx-libegl1,
 ti-omap3-sgx-libgles1,
 ti-omap3-sgx-libgles2,
Replaces:
 libegl1,
 libgles1,
 libgles2,
 libegl1-mesa,
 libgles1-mesa,
 libgles2-mesa,
 ti-omap3-sgx-libegl1,
 ti-omap3-sgx-libgles1,
 ti-omap3-sgx-libgles2,
Description: OMAP3 drivers for PowerVR SGX

Package: ti-omap3-sgx-dev
Section: libdevel
Architecture: armhf
Depends: ti-omap3-sgx (= ${binary:Version}), ${misc:Depends}
Provides:
 libegl1-mesa-dev,
 libgles1-mesa-dev,
 libgles2-mesa-dev
Conflicts:
 libegl1-mesa-dev,
 libgles1-mesa-dev,
 libgles2-mesa-dev
Replaces:
 libegl1-mesa-dev,
 libgles1-mesa-dev,
 libgles2-mesa-dev
Description: Development headers for PowerVR SGX
