#!/usr/bin/make -f

MESA_VERS := $(shell apt-cache show --no-all-versions libegl1-mesa | \
               grep '^Version:' | sed 's/.*: //')
GLVN_VERS := $(shell apt-cache show --no-all-versions libglvnd0 | \
               grep '^Version:' | sed 's/.*: //')
SUBSTVARS := -Vlibegl1-mesa:Version="$(MESA_VERS)" -Vlibglvnd0:Version="$(GLVN_VERS)"

%:
	dh $@

override_dh_systemd_enable:
	dh_systemd_enable --name=powervr

override_dh_installinit:
	dh_installinit --no-start --name=powervr

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)
