[Unit]
Description=TI OMAP3 SGX driver

[Service]
Type=notify
RemainAfterExit=yes
ExecStart=/usr/sbin/powervr

[Install]
WantedBy=gpu.target
Alias=pvrsgx.service sgx.service
